/* Main body styling */
body {

    margin: 10px;
    padding: 10px;
    background:  url("Assets/Images/backg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat : no-repeat;
}

/* Generic container class for grid system */
.container {
    margin: 0px ;
    max-width: 992px;
    padding: 20px 20px;
  }

  /* images for gallery */
  .responsive-image {
    padding: 10px 10px 10px 10px;
    max-width: 100%;
  }

  .cell img {
    display: block;
  }

  /* change to to one column as screen gets smaller */
  @media screen and (min-width: 768px) {
    .grid {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
    .cell {
      width: 50%;
    }
  }

/* Heading used for About Me and Portfolio heading */
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
     color : silver;

}

/* Title for contact form */
h3 
{
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: goldenrod
}

col-xs-12 md-6 {
  font-size: large;
  color : white
}


/* font style for drop-down details section of about me */
details{
    color: white;
}

/* font style for about me section paragraph */
section{
    color: silver;
}

/* form style */
form{
    margin-top: 50px;
    transition: all 4s ease-in-out;                                                                                                                                                                                                                                                                                                                                                                         
}

/* form style */
.form-control{
    width: 400px;
    border: 10px;
    outline: 20px;
    border-bottom: 1px solid gray;
    color: rgb(124, 25, 25);
    font-size: 18px;
    margin-bottom: 16px;
}
