
body {

    margin: 10px;
    padding: 10px;
    background:  url("Images/backg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat : no-repeat;
}

.container {
    margin: 0px ;
    max-width: 992px;
    padding: 20px 20px;
  }

  /* images for gallery */
  .responsive-image {
    padding: 10px 10px 10px 10px;
    max-width: 100%;
  }

  .cell img {
    display: block;
  }

  /* change to to one column as screen gets smaller */
  @media screen and (min-width: 768px) {
    .grid {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
    .cell {
      width: 50%;
    }
  }

.contact-title{
    margin-top: 100px;

}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
     color : silver;

}

h3
{
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: goldenrod
}

section{
    color: silver;
}

form{
    margin-top: 50px;
    transition: all 4s ease-in-out;                                                                                                                                                                                                                                                                                                                                                                         
}

/* */
.form-control{
    width: 400px;
    /*background:*/
    border: 10px;
    outline: 20px;
    border-bottom: 1px solid gray;
    color: rgb(124, 25, 25);
    font-size: 18px;
    margin-bottom: 16px;
}

input
{
    height: 45px;
}